@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@inherits LayoutComponentBase

<div class="main-layout">
    <header class="mx-10 my-10">
        <h1>WeatherInsights</h1>
    </header>

    <div class="content mx-5 my-5">
        @Body
    </div>

    <footer class="mx-5 mt-4">
        <small>&copy; WeatherInsights</small>
    </footer>
</div>